body{
	padding: 0px;
	margin: 0px;
	font-family: Avenir, Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-nikko{
 width: 200px;
 height: 200px;
 background-image: url(../img/profile.jpeg);
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 30px;
 margin-bottom: 30px;
}

footer{
	background-color: #333;
	padding: 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 40px 0px 0px 0px;
}
footer ul{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
footer ul li{
	display: inline-block;
	color: #fff;
	text-align: center;
	margin: 0px 15px 0px 15px;
	font-size: 10pt;
}

.container{
	max-width: 760px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

header.splash{
	padding: 50px;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.title{
	text-align: center;
	color: #fff;
	font-size: 15pt;
	font-weight: 10;
	padding: 20px 0px 0px 0px;
	margin: 20px auto 0px auto;
}

.greetings{
		text-align: center;
	color: #fff;
	font-size: 35pt;
	font-weight: 10;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0px auto;
}

ul.social{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 50px 0px 0px 0px;
}
ul.social li{
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
}
ul.social li a{
	color: #fff;
	text-decoration: none;
	padding: 15px 10px 15px 10px;
	border: 2px solid #fff;
	-moz-transition: all 350ms ease;
	-webkit-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}
ul.social li a:hover{
	color: #2a3344;
	background-color: #fff;
	border: 2px solid #ddd;
	-moz-transition: all 350ms ease;
	-webkit-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.rosie-image
{

}

img.apple-image
{
	border:1px solid #021a40;	
}

img.gradesnap-image
{
	border:1px solid #021a40;
}

.greetings{
	text-align: center;
}

.twitter:before{
	content: url(../img/twit-icon.png);
	padding: 0px 5px 0px 0px;
}
.twitter:hover:before{
	content: url(../img/twit-icon-b.png);
	padding: 0px 5px 0px 0px;
}
.github:before{
	content: url(../img/git-icon.png);
	padding: 0px 5px 0px 0px;
}
.github:hover:before{
	content: url(../img/git-icon-b.png);
	padding: 0px 5px 0px 0px;
}

.linkedin:before{
	content: url(../img/link-icon.png);
	padding: 0px 5px 0px 0px;
}
.linkedin:hover:before{
	content: url(../img/link-icon-b.png);
	padding: 0px 5px 0px 0px;
}

.resume:before{
	content: url(../img/resume.png);
	padding: 0px 5px 0px 0px;
}
.resume:hover:before{
	content: url(../img/resume.png);
	padding: 0px 5px 0px 0px;
}

.work{
	color: #666;
	font-size: 20pt;
	text-align: center;
	font-weight: 900;
	margin: 50px 0px 30px 0px;
}

.portfolio{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

img.icon {
  background: #90C7DE;
  width: 256px;
  height: 256px;
  border-radius: 38px;
  overflow:hidden;
  border: solid 6px #666;
  position: relative;
  -webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
  z-index: 10;
}

img.icon .gloss {
  background: #56ABCB;
  height: 144px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, .3);
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, .3);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, .3);  
  border-top-right-radius: 170px 20px;
  border-top-left-radius: 170px 20px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  position: absolute;
  bottom: 0px;
}

@media all and (max-width:730px){
	.work{
		padding-left: 20px;
		padding-right: 20px;
	}
	ul.social{
		padding: 0px;
		margin: 0px;
	}
	ul.social li{
		display: inline-block;
		text-align: center;
		margin: 50px 10px 0px 10px;
	}
}